{% set resourceVersion = '1.00' %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>{{ currentSite.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />
        <link rel="home" href="https://jackgetsfunky.com" />
        <link rel="icon" href="favicon.ico?v=2">
        <link rel="stylesheet" type='text/css' href="{{ url('/css/site.min.css?v=') }}{{ resourceVersion }}">
    </head>
    <body class="{{ entry.slug }}">
        {% block content %} {% endblock %}
        <script src="{{ url('/js/site.min.js?v=') }}{{ resourceVersion }}"></script>
    </body>
</html>
